.wrap {
}

/* BTN */

.openBtn {
  width: 50px;
  height: 50px;

  border: 0;
  border-radius: var(--border-radius);
  background-color: transparent;
}

.filterIcon {
  stroke: var(--main-text-clr);
}

@media screen and (min-width: 1000px) {
  .openBtn {
    display: none;
  }
}

/* Modal */

@media screen and (min-width: 480px) {
}

/* Filter */

.filtersWrap {
  display: none;
}

/* search */

.searchWrap {
  display: block;

  position: relative;

  width: 100%;
  height: 50px;

  border: 1px solid var(--stroke-clr);
  border-radius: var(--border-radius);
}

.searchInput {
  width: 100%;
  height: 100%;
  padding: 0px 15px;

  border: 0;
  background-color: transparent;
  outline: 0;

  font-size: 14px;
  color: var(--main-text-clr);
}

.searchInput::placeholder {
  opacity: 0;
}

.searchLabel {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  opacity: 1;
  transition: all 100ms;
  pointer-events: none;
}

.searchIcon {
  fill: var(--stroke-clr);
}

.searchInput:not(:placeholder-shown) + .searchLabel,
.searchInput:focus + .searchLabel {
  opacity: 0;
  pointer-events: none;
}

/* filters list */

.filtersList {
}

.filtersSublist {
}

@media screen and (min-width: 1000px) {
  .filtersWrap {
    display: block;
  }
}
