:root {
  /* BACKGROUNDS */
  --main-bg-clr: #ffffff;
  --secondary-bg-clr: #000000;

  /* TEXT */
  --main-text-clr: #000000;
  --main-light-text-clr: #ffffff;
  --secondary-text-clr: #737373;

  /* COLORS */
  --primary-clr: #b3ff00;
  --stroke-clr: #717171;

  /* ADDITIONAL */
  --transition-duration: 250ms;
  --border-radius: 10px;
}

::-webkit-scrollbar {
}
::-webkit-scrollbar-thumb {
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

.body-scroll-lock {
  height: 100vh;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
