.heading {
  margin-bottom: 30px;

  background-color: var(--secondary-bg-clr);
}

.headingTitle {
  max-width: 1580px;
  padding: 30px 20px;
  margin: 0 auto;

  font-size: 36px;
  font-weight: 700;
  color: var(--main-light-text-clr);
}

@media screen and (min-width: 768px) {
  .heading {
    margin-bottom: 40px;
  }

  .headingTitle {
    padding: 35px 20px;

    font-size: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .heading {
    margin-bottom: 50px;
  }

  .headingTitle {
    padding: 40px 20px;

    font-size: 48px;
  }
}

/* Main */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "filter mode"
    "list list"
    "list list";

  max-width: 1580px;
  padding: 0px 20px;
  margin: 0 auto;
}

.filter {
  grid-area: filter;

  /* background-color: rgba(0, 255, 255, 0.274); */
}

.mode {
  grid-area: mode;
}

.list {
  grid-area: list;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-top: 40px;
  margin-bottom: 100px;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px 30px;

    padding-top: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    grid-template-columns: 305px 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas:
      "filter mode mode "
      "filter list list "
      "filter list list ";
  }

  .list {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .main {
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas:
      "filter mode mode mode"
      "filter list list list"
      "filter list list list";
  }

  .list {
    gap: 50px;
  }
}
